.link {
  text-decoration: none;
  color: #270227;
}

.link:hover {
  text-decoration: none;
  color: purple;
}

.container {
  min-height: calc(100vh - 237px);
}

/* *Header */
header {
  background-color: rgba(81, 20, 111, .8);
}

.wrapper {
  position: sticky;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.main-title {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 3px 3px 4px #270227;
}

.main-title:hover {
  color: #270227;
}

.navbar {
  margin-bottom: 0;
}

.navbar .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: none;
  outline: none;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
  color: #fff;
}

.navbar .navbar-nav>li>a {
  color: #fff;
}

.active {
  font-weight: 800;
}

.title {
  color: #270227;
  font-weight: 900;
}

@media (min-width: 1090px) {
  .wrapper {
    max-width: 1000px;
  }
}

/* *Footer */
.footer-wrapper {
  width: 100%;
  margin-top: 80px;
}

.footer-content {
  text-align: center;
  color: #fff;
  background-color: rgba(81, 20, 111, .7);
  padding: 15px;
}
